.navigation{
    padding: 0 8px;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}
.navigation ul{
    display: flex;
    align-self: center;
    list-style: none;
    gap: 24px;
    font-weight: 500;
}